/* ////////////////////////////////////////////////////////////////////////////////// */

/* Character set */

@charset "utf-8";

/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ////////////////////////////////////////////////////////////////////////////////// */

/* 
  GLOBAL CSS VARIABLES
*/

:root {
  /* color variables */
  --darkColor: #212121;
  --darkColor-light: #6e6e6e;
  --lightColor: #fafafa;
  --lightColor-dark: #d4d4d4;
  /* Utilities */
  --successColor: #32cf52;
  --dangerColor: #cf1d37;

  /* Typography variables */
  /* weights */
  --black: 900;
  --extraBold: 800;
  --bold: 700;
  --semiBold: 600;
  --medium: 500;
  --regular: 400;
  --light: 300;

  /* Sizes */
  --displayHeading: 6rem;
  --primaryHeading: 5.1rem;
  --secondaryHeading: 4.5rem;
  --subheading: 3.3rem;
  --paragraph: 2.1rem;
  --metadata: 1.5rem;
  --link: 1.5rem;
}

/* ////////////////////////////////////////////////////////////////////////////////// */

/* 
  MAIN RESETS AND STYLE CONFIGURATION
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 1rem = 16px | 62.5%16px = 10px => 1rem = 10px */
  box-sizing: border-box;
}

/* Global Styles */
body {
  background-color: var(--lightColor);
  font-family: 'Raleway', sans-serif;
}

a {
  color: var(--darkColor);
  text-decoration: none;

  transition: all 0.3s ease-in-out;
}

input {
  font-family: 'Raleway', sans-serif;
  width: 100%;
}
